#main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#main-sidebar{
    width: 400px;
    height: 100vh;
}

#main-topbar{
    width: 100%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#main-chat-interface{
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 900px) {
    
}